@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

html {
    background-color: aliceblue;
    font-family: 'Shizuru', cursive;
}

body {
    text-align: center;
}

#Input_Tarefas {
    height: 60px;
    width: 700px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Shizuru', cursive;
    border-color: black;
}

h1 {
    font-size: 50px;
}

#tarefas {
    margin-top: 122px;
    text-align: center;
}

#add{
    height:60;
    width: 60px;
    font-family: 'Shizuru', cursive;
    background-color: white;
}

#add:hover {
    background-color:rgb(134, 134, 241);
    cursor: pointer;
}

li {
    padding-top: 20px;
    list-style: none;
    font-weight: bold;
    font-size: 40px;
    text-align: justify;
    border-style: solid;
    border-top: 50px;
    border-right: 50px;
    border-left: 50px;
}

.botoes {
   width: 45px;
   height: 35px;
   background-color: white;
   font-weight: bold;
   margin-left: 25px;
}

.pronto {
    color:black;
}

.excluir {
    color:black;
}

.riscado {
    text-decoration: line-through;
}